body{
background-color: #e2e8f0 ;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
   color:blueviolet; 
}

h2 {
    color: orange
}

h3 {
    color: blue;
}
header{
    background-color:#cbd5e1;
}
